{% extends 'base.html' %} {% block titulo %} Formulario {% endblock titulo %} {%
block contenido %}
<h1>formulario</h1>

{% if user %}
<li><b>Numero de cedula:</b>{{user.numeroc}}</li>
<li><b>Nombre:</b>{{user.nombre}}</li>
<li><b>Apellidos:</b>{{user.apellidos}}</li>
<li><b>Direccion:</b>{{user.direccion}}</li>
<li><b>Mensaje:</b>{{user.mensaje}}</li>
{% endif %}

<form action="/formulario" method="get">
  <label for="numeroc">Numero de cedula:</label>
  <input type="text" id="numeroc" name="numeroc" />
  <br /> <br />
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" name="nombre" />
  <br /> <br />
  <label for="apellidos">Apellidos:</label>
  <input type="text" id="apellidos" name="apellidos" />
  <br /> <br />
  <label for="direccion">Direccion:</label>
  <input type="text" id="direccion" name="direccion" />
  <br /> <br />
  <label for="mensaje">Mensaje:</label>
  <textarea id="mensaje" name="mensaje"></textarea>
  <br /> <br />
  <button type="submit">Enviar</button>
  {% endblock %}
</form>
