{% extends 'baseadmin.html' %}
{% block title %}Lista de Usuarios{% endblock %}
{% block body %}
<!--MENSAJE DE ALERTA SweetAlert2-->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class="flashes">
    {% for category, message in messages %}
    <script type="text/javascript">
        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });
        Toast.fire({
            icon: "success",
            title: "{{message}}"
        });
    </script>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<!--MENSAJE DE ALERTA PARA ELIMINACION SweetAlert2-->
<script>
    function confirmarEliminacion(url) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: "¡No podrás revertir esto!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = url;
            }
        });
    }
</script>

<div class="container p-5 mt-3">
    <!-- MODAL agregar un nuevo usuario -->
    <div class="card">
        <div class="card-body shadow-lg rounded" style="background: linear-gradient(220deg,#ffffff,#7a9f7a,#355e3b);">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-success float-end" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Agregar Usuario
            </button>

            <!-- Modal -->
            <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="exampleModal"
                tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <!--Centrar el formulario-->
                    <div class="modal-content">
                        <div class="modal-header" style="background: linear-gradient(220deg,#ffffff,#7a9f7a,#355e3b);">
                            <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Registro de Usuarios</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{{ url_for('guardar_usuario') }}" method="POST">
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control" name="nombre" id="name"
                                        aria-describedby="helpId" placeholder="Nombre Completo" required />
                                    <label for="nombre" class="form-label">Nombre Completo</label>
                                </div>
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control" name="email" id="email"
                                        aria-describedby="helpId" placeholder="Correo Electronico" required />
                                    <label for="email" class="form-label">Correo Electrónico</label>
                                </div>
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control" name="password" id="password"
                                        aria-describedby="helpId" placeholder="Contraseña" required />
                                    <label for="password" class="form-label">Contraseña</label>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if usuarios %}
    <!-- Tabla de Usuarios -->
    <h1 class="text-center">Lista de Usuarios</h1>
    <div class="caja">
        <table class="table table-hover table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Nº</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Password</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for mostrar in usuarios %}
                <tr>
                    <td>{{mostrar.id}}</td>
                    <td>{{mostrar.nombre}}</td>
                    <td>{{mostrar.email}}</td>
                    <td>{{mostrar.password}}</td>
                    <td>
                        <a href="/listar/{{mostrar.id}}" class="btn btn-success btn-sm" data-bs-toggle="modal"
                            data-bs-target="#modaledit{{mostrar.id}}">Editar</a>
                        <a href="javascript:void(0);" data-bs-toggle="mensaje" data-bs-placement="top"
                            title="Eliminar usuario..."
                            onclick="confirmarEliminacion('/borrarUser/{{mostrar.id}}')"
                            class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>

                <!-- MODAL editar usuario -->
                <div id="modaledit{{mostrar.id}}" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false"
                    role="dialog">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header" style="background: linear-gradient(220deg, #ffffff,#7a9f7a,#355e3b);">
                                <h4 class="modal-title text-white">Actualizar información</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="{{url_for('updateUsuario')}}" method="POST">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input type="hidden" name="id" value="{{mostrar.id}}">
                                        <input type="text" class="form-control" name="nombre" value="{{mostrar.nombre}}">
                                    </div>
                                    <div class="form-group">
                                        <label>Correo electrónico</label>
                                        <input type="email" class="form-control" name="email" value="{{mostrar.email}}">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="text" class="form-control" name="password"
                                            value="{{mostrar.password}}">
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Cancelar</button>
                                <button class="btn btn-primary" type="submit">Actualizar</button>
                            </div>
                                </form>
                        </div>
                    </div>
                </div>
                <!-- Fin de Editar Usuario Modal -->
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No hay datos</p>
        {% endif %}
    </div>
</div>
{% endblock %}
